<div class="top-menu">
    <nav class="nav">
        <NavLink class="nav-link" href="bench" Match="NavLinkMatch.All">
            <span aria-hidden="true">
                <i class="bi bi-wrench-adjustable-circle" title="Goto Bench"></i>
            </span>
            Bench
        </NavLink>
        <NavLink class="nav-link" href="recent" Match="NavLinkMatch.All">
            <span aria-hidden="true">
                <i class="bi bi-clock-history" title="Recent Benches"></i>
            </span>
            Recent Benches
        </NavLink>
        <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
            <span aria-hidden="true">
                <i class="bi bi-house-door-fill-top-menu" title="About"></i>
            </span>
            About
        </NavLink>
    </nav>
</div>
