<div class="top-menu">
    <nav class="nav">
        <NavLink class="nav-link" href="bench" Match="NavLinkMatch.All">
            Bench
        </NavLink>
        <NavLink class="nav-link" href="recent" Match="NavLinkMatch.All">
            Recent
        </NavLink>
        <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
            About
        </NavLink>
    </nav>
</div>
