.action-icon {
    cursor: pointer;
    margin-left: 2px;
    color: blue;
    position: relative;
}

.bench-path {
    display: block;
    font-size: smaller;
    color: gray;
}

.btn-small {
    padding: 2px 5px; /* Adjusted padding to make the outline tighter */
    font-size: 0.875rem;
}

.container {
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bench-view-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.horizontal-separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
