@page "/bench"
@using WpfBlazor.Components

<div class="container">

    <div>
        <button class="btn btn-primary btn-small" @onclick="NewBenchFileAsync">New...</button>

        <button class="btn btn-primary btn-small" @onclick="OpenBenchFileAsync">Open...</button>

        <button class="btn btn-primary btn-small" @onclick="SaveAsBenchFileAsync">Save As...</button>
    </div>

    <hr class="horizontal-separator" />

    <div>
        <span class="bench-path">
            Bench file: @(BenchFilePathProvider.FilePath ?? "null")
            <i class="bi bi-pencil action-icon" @onclick="EditBenchFile" title="Edit Bench file"></i>
            <i class="bi bi-arrow-repeat action-icon" @onclick="ReloadBenchFileAsync" title="Reload Bench file"></i>
        </span>
    </div>

    <div class="bench-view-container">
        @if (Bench != null)
        {
            <BenchView Bench=Bench />
        }
        else
        {
            <p>Bench: null</p>
        }
    </div>

</div>
