@page "/home"

<PageTitle>Home</PageTitle>

<h1>Welcome to K0xWorkbench!</h1>

<p>Copyright (c) 2025 Bryan Knox</p>

GitHub repo: <a href="https://github.com/bryanknox/k0x-workbench" target="_blank">bryanknox/k0x-workbench</a>
