.action-icon {
    cursor: pointer;
    margin-left: 2px;
    color: blue;
    position: relative;
}

.bench-path {
    display: block;
    font-size: smaller;
    color: gray;
}

.btn-small {
    padding: 2px 5px; /* Adjusted padding to make the outline tighter */
    font-size: 0.875rem;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.controls-container {
    padding: 10px;
}

.recent-list-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 0 0 10px 10px; /* (no top), (no right), bottom, left padding */
}

.recent-list-container ul {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
}

.horizontal-separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
