@using K0x.Workbench.DataStorage.Abstractions.Models
@namespace WpfBlazor.Components

<h2>@Bench.Label</h2>

@foreach (var kit in Bench.Kits)
{
    <KitView Kit="kit" />
}


@code {
    [Parameter]
    public Bench Bench { get; set; } = default!;
}
