@using K0x.Workbench.DataStorage.Abstractions.Models
@namespace WpfBlazor.Components

<div>

    <div class="bench-label">@Bench.Label</div>

    @foreach (var kit in Bench.Kits)
    {
        <KitView Kit="kit" />
    }

</div>


@code {
    [Parameter]
    public Bench Bench { get; set; } = default!;
}
