@using K0x.Workbench.DataStorage.Abstractions.Models
@namespace WpfBlazor.Components

<h3>Bench: @Bench.Label</h3>

@foreach (var kit in Bench.Kits)
{
    <KitView Kit="kit" />
}


@code {
    [Parameter]
    public Bench Bench { get; set; } = default!;
}
