@using K0x.Workbench.DataStorage.Abstractions.Models
@namespace WpfBlazor.Components

<div>

    <div class="kit-label">@Kit.Label</div>

    @foreach (var tool in Kit.Tools)
    {
        <ToolView Tool="tool" />
    }

</div>

@code {
    [Parameter]
    public Kit Kit { get; set; } = default!;
}
