@using K0x.Workbench.DataStorage.Abstractions.Models
@namespace WpfBlazor.Components

<div>

    <div>
        <button type="button"
                class="bi @expanderIconClass"
                style="cursor:pointer; background:none; border:none; padding:0;"
                @onclick="() => IsExpanded = !IsExpanded"
                aria-label="Toggle kit expansion">
            &nbsp;
        </button>

        <span class="kit-label">@Kit.Label</span>
    </div>

    <div class="kit-container">
        @if (IsExpanded)
        {
            @foreach (var tool in Kit.Tools)
            {
                <ToolView Tool="tool" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public Kit Kit { get; set; } = default!;

    private bool IsExpanded { get; set; } = false;

    private string expanderIconClass => IsExpanded ? "bi-caret-down" : "bi-caret-right";
}
