@using K0x.Workbench.DataStorage.Abstractions.Models
@using Microsoft.Extensions.Logging
@using System.Windows
@namespace WpfBlazor.Components
@inject ILogger<ToolView> Logger

<div>
    <button class="btn btn-primary" @onclick="Execute">@Tool.Label</button>
    <p> @Tool.Command </p>
    @if (Tool.WorkingDirectory is not null)
    {
        <p>Working Directory:</p> @(Tool.WorkingDirectory ?? "null")
    }
</div>

@code {
    [Parameter]
    public Tool Tool { get; set; } = default!;

    private void Execute(MouseEventArgs e)
    {
        var psi = new System.Diagnostics.ProcessStartInfo
            {
                FileName = Tool.Command,
                WorkingDirectory = Tool.WorkingDirectory,
                UseShellExecute = true,
            };
        try {
            System.Diagnostics.Process.Start(psi);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error executing tool: {Tool.Label}");

            MessageBox.Show(
                $"Error executing tool: { Tool.Label}\n"
                + $"{ex.GetType()}\n"
                + "\n"
                + $"{ex.Message}\n",
                caption: $"Error executing tool: {Tool.Label}",
                button: MessageBoxButton.OK,
                icon: MessageBoxImage.Error);

        }
    }
}
