@using K0x.Workbench.DataStorage.Abstractions.Models
@using Microsoft.Extensions.Logging
@using System.Windows
@namespace WpfBlazor.Components
@inject ILogger<ToolView> Logger

<div>
    <a href="#" @onclick="Execute">@Tool.Label</a>
    <span class="text-line">@Tool.Command</span>
    @if (!string.IsNullOrEmpty(Tool.Arguments))
    {
        <span class="text-line indent">@Tool.Arguments</span>
    }

    @if (!string.IsNullOrEmpty(Tool.WorkingDirectory))
    {
        <span class="text-line">Working Directory: @Tool.WorkingDirectory</span>
    }
</div>

@code {
    [Parameter]
    public Tool Tool { get; set; } = default!;

    private void Execute(MouseEventArgs e)
    {
        var psi = new System.Diagnostics.ProcessStartInfo
        {
            FileName = Tool.Command,
            Arguments = Tool.Arguments,
            WorkingDirectory = Tool.WorkingDirectory,
            ErrorDialog = true,
            UseShellExecute = true,
        };
        try
        {
            System.Diagnostics.Process.Start(psi);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error executing tool: {Tool.Label}");

            MessageBox.Show(
                $"Error executing tool: {Tool.Label}\n"
                + $"{ex.GetType()}\n"
                + "\n"
                + $"{ex.Message}\n",
                caption: $"Error executing tool: {Tool.Label}",
                button: MessageBoxButton.OK,
                icon: MessageBoxImage.Error);
        }
    }
}
