@page "/poc"
@using System.Windows
@using K0x.Workbench.DataStorage.Abstractions
@using K0x.Workbench.DataStorage.Abstractions.Models
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@using WpfBlazor.Components

<p>Bench File Path: @(BenchFilePathProvider.FilePath ?? "null")</p>

<button class="btn btn-primary" @onclick="NewBenchFileAsnyc">New...</button>

<button class="btn btn-primary" @onclick="OpenBenchFileAsnyc">Open...</button>

<button class="btn btn-primary" @onclick="SaveAsBenchFileAsnyc">Save As...</button>

@if (Bench != null)
{
    <BenchView Bench=Bench />
}
else
{
    <p>Bench: null</p>
}
