@page "/poc"
@using System.Windows
@using K0x.Workbench.DataStorage.Abstractions
@using K0x.Workbench.DataStorage.Abstractions.Models
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@using WpfBlazor.Components

<h1>k0x Workbench - PoC</h1>

<p>Bench File Path: @(BenchFilePathProvider.FilePath ?? "null")</p>

@if (Bench != null)
{
    <BenchView Bench=Bench />
}
else
{
    <p>Bench: null</p>
}
