@page "/poc"
@using WpfBlazor.Components

<div class="container">

    <div>
        <span class="bench-path">
            Bench file: @(BenchFilePathProvider.FilePath ?? "null")
            <i class="bi bi-pencil edit-icon" @onclick="EditBenchFile" title="Edit Bench file ..."></i>
        </span>
    </div>

    <div>
        <button class="btn btn-primary btn-small" @onclick="NewBenchFileAsnyc">New...</button>

        <button class="btn btn-primary btn-small" @onclick="OpenBenchFileAsnyc">Open...</button>

        <button class="btn btn-primary btn-small" @onclick="SaveAsBenchFileAsnyc">Save As...</button>
    </div>

    <div>
        @if (Bench != null)
        {
            <BenchView Bench=Bench />
        }
        else
        {
            <p>Bench: null</p>
        }
    </div>

</div>
