@page "/poc"
@using System.Windows
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@inject IConfiguration Configuration
@inject ILogger<PocPage> Logger

<h1>k0x Workbench - PoC</h1>

<p>appSetting1: @appSetting1</p>

<p>Path: @path</p>

<p>isPathExist: @isPathExist</p>

<button class="btn btn-primary" @onclick="OpenDirectory">Open Directory</button>

@code {

    private string appSetting1 = string.Empty;

    //private string path = "C:/_BkGit/bryanknox/k0x-workbench";
    private string path = "C:/Users/bryan/OneDrive/BK Shortcuts";

    private bool? isPathExist = null;

    protected override void OnInitialized()
    {
        Logger.LogInformation("OnInitialized start.");

        appSetting1 = Configuration["AppSettings:Setting1"] ?? "Setting1 Not Found";
        CheckPathExistence();

        Logger.LogInformation("OnInitialized end.");
    }

    private void CheckPathExistence()
    {
        isPathExist = System.IO.Directory.Exists(path);
    }

    private void OpenDirectory()
    {
        if (isPathExist == true)
        {
            var psi = new System.Diagnostics.ProcessStartInfo
                {
                    FileName = path,
                    UseShellExecute = true
                };
            System.Diagnostics.Process.Start(psi);
        }
    }
}
